global:
  resolve_timeout: 5m
  slack_api_url: ''  # Add Slack webhook if needed

route:
  group_by: ['alertname', 'cluster', 'service']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h
  receiver: 'default'
  routes:
    - match:
        severity: critical
      receiver: 'critical'
      continue: true

receivers:
  - name: 'default'
    webhook_configs:
      - url: 'http://localhost:5001/webhook'
        send_resolved: true

  - name: 'critical'
    webhook_configs:
      - url: 'http://localhost:5001/webhook'
        send_resolved: true
    # email_configs:
    #   - to: 'admin@cursorraffle.com'
    #     from: 'alerts@cursorraffle.com'
    #     smarthost: 'smtp.gmail.com:587'
    #     auth_username: 'alerts@cursorraffle.com'
    #     auth_password: 'your-password'

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'cluster', 'service']

